# WORK OS CREDENTIALS
WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_REDIRECT_URI=

# JWT secret key
JWT_SECRET_KEY=

# SendGrid 
SENDGRID_API_KEY=

# Strip
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# Encryption 
ENCRYPTION_KEY=
